@import "../../../assets/css/colors/colors.scss";

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;

  padding: 20px 40px;
  background-color: $color-secondary-background;

  box-shadow: rgba(0, 0, 0, 0.15) 0 5px 15px;
  -moz-box-shadow: rgba(0, 0, 0, 0.15) 0 5px 15px;
  -o-box-shadow: rgba(0, 0, 0, 0.15) 0 5px 15px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0 5px 15px;

  &__icon {
    font-size: 34rem;
    margin-right: 8px;
  }

  &__logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    p {
      font-size: 22rem;
      font-weight: 700;
      text-transform: uppercase;
    }

    .caption {
      font-weight: 500;
      font-size: 12rem;
    }
  }

  &__buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    a {
      margin-left: 15px;
    }
  }

  &__item {
    display: flex;
    flex-direction: row;
    align-items: center;

    padding: 6px 10px;
    border-radius: 4px;

    font-weight: 700;

    i {
      margin-left: 10px;
      font-size: 18rem;
    }
  }

  .changeButton {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  // .changBtnFull {
  //   width: calc(100% - 70px);
  // }

}
.smallMenu{
  padding: 0px;
  padding-left: 10px;
  padding-right: 10px;
}
