<div class="bar-chart" [ngClass]="{'bar-chart-mobile': this.resize.isMobile}" (click)="this.getCoordinates($event)">
  <ngx-charts-bar-vertical *ngIf="!this.resize.isMobile"
    [animations]="true"
    [legend]="false"
    [results]="displayedValues"
    [roundEdges]="false"
    [scheme]="colorScheme"
    [showGridLines]="true"
    [xAxis]="true"
    [yAxis]="true"
  >
  </ngx-charts-bar-vertical>

  <div *ngIf="this.selectedBarElement.name && this.showDiv" class="infodiv" [ngStyle]="{'top': this.yCoordinate.toString() + 'px', left: this.xCoordinate.toString() + 'px'}" >
    <p id="date" >
      {{this.selectedBarElement.name}}
    </p>
    <p id="value">
      {{this.selectedBarElement.value.toFixed(2).toString().replace('.', ',')}}
    </p>
  </div>

  <ngx-charts-bar-vertical *ngIf="this.resize.isMobile"
  [animations]="true"
  [legend]="false"
  [results]="displayedValues"
  [roundEdges]="false"
  [scheme]="colorScheme"
  [showGridLines]="true"
  [xAxis]="true"
  [yAxis]="true"
  [tooltipDisabled]="true"
  (select)="this.selectedElement($event)"
>
</ngx-charts-bar-vertical>
</div>
