@media (max-width: 1700px) {
  .infections, .vaccinations {
    flex-direction: column !important;

    &__left {
      width: 100% !important;
    }

    &__right {
      width: 100% !important;
      margin-top: 50px;
    }
  }
}

@media (max-width: 900px) {
  .infections, .vaccinations {
    margin-top: 125px !important;
  }

  .nav-bar {
    flex-direction: column !important;
    text-align: center !important;

    &__logo {
      flex-direction: column !important;

      i {
        display: none !important;
      }
    }

    &__item {
      margin-top: 15px !important;
    }
  }

  .info-badges {
    &__content {
      grid-template-columns: auto !important;
    }
  }
}
