@media (max-width: 1370px) {
  .home {
    flex-direction: column !important;

    &__left {
      width: 100% !important;
    }

    &__right {
      width: 100% !important;
      margin-top: 50px;
    }
  }
}

@media (max-width: 750px) {
  .info-badges {
    &__content {
      grid-template-columns: auto !important;
    }
  }
}
