<div class="chart-overview">
  <p class="title-badge accent-purple accent-purple-background">Diagramme</p>

  <div class="info-bar">
    <div (click)="this.changeType('firstandSeond')"
         [ngClass]="{'accent-purple accent-purple-background': type === chartType.firstandSeond && !showpercentVaccines}"
         class="info-bar__toggle-button">
      <p>erste und zweite Impfung</p>
    </div>

    <div (click)="this.changeType('percentVaccines')"
         [ngClass]="{'accent-purple accent-purple-background': type === chartType.percentVaccines }"
         class="info-bar__toggle-button">
      <p>prozentuale Impfverteilung nach Herstellern</p>
    </div>

    <div (click)="this.changeType('timeVaccines')"
         [ngClass]="{'accent-purple accent-purple-background': type === chartType.timeVaccines && !showpercentVaccines }"
         class="info-bar__toggle-button">
      <p>zeitliche Impfverteilung nach Herstellern</p>
    </div>
  </div>

  <div class="info-bar" *ngIf="!this.showpercentVaccines">
    <div *ngFor="let numb of this.timeSpan" (click)="this.dayNumber = numb[1]"
         [ngClass]="{'accent-purple accent-purple-background': numb[1] === this.dayNumber }"
         class="info-bar__toggle-button">
      <p>{{numb[0]}}</p>
    </div>
  </div>

  <app-areachart *ngIf="!this.showpercentVaccines"  [data]="this.displayedaredData"
  [dayNumber]="this.dayNumber"></app-areachart>

  <app-piechart *ngIf="this.showpercentVaccines" [data]="this.allvacsbyManufactor" ></app-piechart>
</div>




