<!-- <h1 *ngIf="this.type === 'incidence7'">7 Tage Inzdienz</h1>
<h1 *ngIf="this.type === 'activeCases'">Aktive Fälle</h1>
<h1 *ngIf="this.type === 'recovered'">Genese Personen</h1>
<h1 *ngIf="this.type === 'deaths'">Gestorbene</h1>
<h1 *ngIf="this.type === 'totalCases'">Gesamte Fälle</h1> -->
<ngx-charts-bar-vertical
    *ngIf="this.loaded"
    [view]="[800,400]"
    [results]="displayedValues"
    [xAxisLabel]="'Products'"
    [yAxisLabel]="'Sale'"
    [legend]="false"
    [showXAxisLabel]="false"
    [showYAxisLabel]="false"
    [xAxis]="true"
    [yAxis]="true"
    [gradient]="false"
    [scheme]="colorScheme"
    >
</ngx-charts-bar-vertical>
