<div class="vaccine-progress-bar">
  <p class="title-badge accent-blue accent-blue-background">Impffortschritt</p>

  <div class="vaccine-progress-bar__info">
    <p>Zuletzt aktualisiert: {{ lastUpdated | date: "long":"CEST":"de" }}</p>
  </div>

  <div [style.margin-left]="progressFirstVaccinated + '%'" class="legend">
    <p class="legend__description">Mindestens einmal geimpft ({{ progressFirstVaccinated }}%)</p>
    <p>|</p>
  </div>
  <div class="progress" style="width: 100%">
    <div [style.width]="progressFirstVaccinated + '%'" class="progress value"></div>
    <div [style.width]="progressFullyVaccinated + '%'" class="progress value highlighted"></div>
  </div>
  <div [style.margin-left]="progressFullyVaccinated + '%'" class="legend">
    <p>|</p>
    <p class="legend__description">Vollständig geimpft ({{ progressFullyVaccinated }}%)</p>
  </div>
</div>
