@import "../../../assets/css/colors/colors.scss";

.vaccine-progress-bar {
  width: 100%;
  margin-top: 50px;

  &__info {
    margin-bottom: 20px;

    p {
      font-size: 14rem;
      opacity: 0.5;
    }
  }

  .progress {
    position: relative;
    height: 25px;

    background-color: $color-accent-gray-background;
    border-radius: 5px;
  }

  .value {
    position: absolute;
    background-size: 14px 14px;
    background-image: linear-gradient(-45deg, rgba(82, 155, 242, 0.6) 25%, rgba(82, 155, 242, 0.4) 0px, rgba(82, 155, 242, 0.4) 50%, rgba(82, 155, 242, 0.6) 0px, rgba(82, 155, 242, 0.6) 75%, rgba(82, 155, 242, 0.4) 0px, rgba(82, 155, 242, 0.4));
  }

  .highlighted {
    background: $color-accent-blue;
  }

  .legend {
    display: flex;
    flex-direction: column;
    margin: 5px 0;

    word-break: break-all;

    font-size: 12rem;
    font-weight: 500;
    opacity: .6;
  }
}
