<div class="info-badges">
  <div class="info-badges__info">
    <p>Zuletzt aktualisiert: {{ lastUpdated | date: "long":"CEST":"de" }}</p>
  </div>

  <div class="info-badges__content">
    <div
      class="badge accent-red"
      style="background-color: rgba(255, 7, 58, 0.125)"
    >
      <div class="badge__title">
        <p>Bestätigt</p>
      </div>

      <div class="badge__difference-to-previous-day">
        <p>+ 1.000</p>
      </div>

      <div class="badge__total-number">
        <p>50.000</p>
      </div>
    </div>

    <div
      class="badge accent-blue"
      style="background-color: rgba(0, 123, 255, 0.125)"
    >
      <div class="badge__title">
        <p>Aktiv</p>
      </div>

      <div class="badge__difference-to-previous-day">
        <p>+ 1.000</p>
      </div>

      <div class="badge__total-number">
        <p>50.000</p>
      </div>
    </div>

    <div
      class="badge accent-green"
      style="background-color: rgba(40, 167, 69, 0.125)"
    >
      <div class="badge__title">
        <p>Genesen</p>
      </div>

      <div class="badge__difference-to-previous-day">
        <p>+ 1.000</p>
      </div>

      <div class="badge__total-number">
        <p>50.000</p>
      </div>
    </div>

    <div
      class="badge accent-gray"
      style="background-color: rgba(108, 117, 125, 0.125)"
    >
      <div class="badge__title">
        <p>Verstorben</p>
      </div>

      <div class="badge__difference-to-previous-day">
        <p>+ 1.000</p>
      </div>

      <div class="badge__total-number">
        <p>50.000</p>
      </div>
    </div>
  </div>
</div>
