<div class="info-badges">
  <p class="title-badge accent-red accent-red-background">Schnellübersicht</p>

  <div class="info-badges__info">
    <p>Zuletzt aktualisiert: {{ lastUpdated | date: "long":"CEST":"de" }}</p>
  </div>

  <div class="info-badges__content">
    <div
      class="badge accent-red accent-red-background"
    >
      <div class="badge__title">
        <p>Bestätigt</p>
      </div>

      <div class="badge__caption">
        <p>Seit 01.01.2021</p>
      </div>

      <div class="badge__difference-to-previous-day">
        <p>+ 1.000</p>
      </div>

      <div class="badge__total-number" *ngIf="this.germanyData.incidence">
        <p>{{this.germanyData.incidence.TotalCases}}</p>
      </div>
    </div>

    <div
      class="badge accent-blue accent-blue-background"
    >
      <div class="badge__title">
        <p>Aktiv</p>
      </div>

      <div class="badge__caption">
        <p>Seit 01.01.2021</p>
      </div>

      <div class="badge__difference-to-previous-day">
        <p>+ 1.000</p>
      </div>

      <div class="badge__total-number" *ngIf="this.germanyData.incidence">
        <p>{{this.germanyData.incidence.ActiveCases}}</p>
      </div>
    </div>

    <div
      class="badge accent-green accent-green-background"
    >
      <div class="badge__title">
        <p>Genesen</p>
      </div>

      <div class="badge__caption">
        <p>Seit 01.01.2021</p>
      </div>

      <div class="badge__difference-to-previous-day">
        <p>+ 1.000</p>
      </div>

      <div class="badge__total-number" *ngIf="this.germanyData.incidence">
        <p>{{this.germanyData.incidence.Recovered}}</p>
      </div>
    </div>

    <div
      class="badge accent-purple accent-purple-background"
    >
      <div class="badge__title">
        <p>Inzidenz</p>
      </div>

      <div class="badge__caption">
        <p>Letzten 7 Tage</p>
      </div>

      <div class="badge__difference-to-previous-day">
        <p>- 10</p>
      </div>

      <div class="badge__total-number" *ngIf="this.germanyData.incidence">
        <p>{{this.germanyData.incidence.Incidence7.toFixed(2).replace('.', ',')}}</p>
      </div>
    </div>

    <div
      class="badge accent-gray accent-gray-background"
    >
      <div class="badge__title">
        <p>Verstorben</p>
      </div>

      <div class="badge__caption">
        <p>Seit 01.01.2021</p>
      </div>

      <div class="badge__difference-to-previous-day">
        <p>+ 1.000</p>
      </div>

      <div class="badge__total-number" *ngIf="this.germanyData.incidence">
        <p>{{this.germanyData.incidence.Deaths}}</p>
      </div>
    </div>
  </div>
</div>
