@import "../../../assets/css/colors/colors.scss";

.chart-overview {
  margin-top: 50px;
  overflow: auto;

  .content {
    width: 100%;

    button {
      padding: 10px;
    }
  }
}

.mobileInfoBar {
  display: grid;
  grid-template-columns: repeat(4, minmax(10px, 1fr));
}
