<div class="footer">
  <div class="footer__title hover-accent-gray-yellow accent-gray-background">
    <p>Covidash</p>
  </div>

  <div class="footer__links">
    <a class="hover-accent-gray-red" href="https://git.oth-aw.de/wae-team-white/covid-dashboard" target="_blank">
      <i class="fab fa-gitlab"></i>
      <p>GitLab</p>
    </a>

    <a class="hover-accent-gray-blue" href="https://git.oth-aw.de/wae-team-white/covid-dashboard/-/project_members"
       target="_blank">
      <i class="fas fa-users"></i>
      <p>Team</p>
    </a>

    <a class="hover-accent-gray-yellow" href="" target="_blank">
      <i class="fas fa-stamp"></i>
      <p>Impressum</p>
    </a>
  </div>
</div>
