@import "assets/css/colors/colors.scss";

@import "assets/css/resets/normalize.scss";
@import "assets/css/resets/reset.local.scss";
@import "assets/css/resets/typography.scss";

@import "assets/css/media/responsive.scss";

body {
  background-color: $color-background;
}

* {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.title-badge {
  width: fit-content;
  width: -moz-fit-content;

  padding: 2.5px 6px;
  border-radius: 5px;

  margin-bottom: 8px;

  font-size: 20rem !important;
  font-weight: 900;
}

.info-bar {
  display: flex;
  justify-content: flex-start;

  width: 100%;
  text-align: center;

  margin-bottom: 5px;

  &__toggle-button {
    display: flex;
    justify-content: center;
    align-items: center;

    min-width: 40px;
    width: auto;
    min-height: 40px;
    height: auto;

    padding: 10px 15px;

    margin-right: 5px;

    border-radius: 5px;
    color: $color-accent-gray;
    background-color: $color-accent-gray-background;

    cursor: pointer;
  }
}
