@import "../../../assets/css/colors/colors.scss";

.info-table {
  margin-top: 50px;

  .grid {
    display: grid;
    overflow: auto;
    grid-template-columns:repeat(6, minmax(130px, 1fr));
    grid-gap: 5px;
    max-height: 300px;


  }

  #vaccines{
    grid-template-columns:repeat(7, minmax(115px, 1fr));
  }
}

.pointer{
  cursor: pointer;
}

.row {
  display: contents;

  .heading {
    flex-direction: row !important;
    align-items: center !important;
    min-height: 50px;

    text-align: center !important;
    font-weight: 700;
    background-color: $color-secondary-background;

    i {
      font-size: 16rem;
      margin-left: 10px;
      opacity: 0.5;
    }

    &:hover {
      cursor: pointer;
      opacity: 0.75;
    }
  }

  .state {
    display: flex;
    align-items: center !important;
    flex-direction: row !important;
    justify-content: space-between !important;

    text-align: left !important;

    padding: 10px !important;

    background-color: $color-secondary-background;
    opacity: 0.75;

    i {
      padding: 5px;
      cursor: pointer;
    }
  }

  .cell {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;

    border-radius: 5px;

    padding: 5px;

    font-size: 13rem;
    text-align: right;
    word-break: break-word;

    &__difference-to-previous-day {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;

      i {
        margin-right: 2.5px;
      }
    }
  }
}
