<div class="info-table">
  <div class="grid">
    <div class="row">
      <div class="cell heading"><p>Landkreis</p></div>
      <div class="cell heading"><p>Bestätigt</p></div>
      <div class="cell heading"><p>Aktiv</p></div>
      <div class="cell heading"><p>Genesen</p></div>
      <div class="cell heading"><p>Verstorben</p></div>
    </div>

    <div class="row">
      <div class="cell heading"><p>Amberg</p></div>
      <div class="cell">
        <div class="cell__difference-to-previous-day accent-red">
          <i class="fas fa-arrow-down"></i>
          <p>25</p>
        </div>
        <p>5.000</p>
      </div>
      <div class="cell">
        <div class="cell__difference-to-previous-day accent-blue">
          <i class="fas fa-arrow-up"></i>
          <p>20</p>
        </div>
        <p>3.000</p>
      </div>
      <div class="cell">
        <div class="cell__difference-to-previous-day accent-green">
          <i class="fas fa-arrow-up"></i>
          <p>35</p>
        </div>
        <p>2.500</p>
      </div>
      <div class="cell">
        <div class="cell__difference-to-previous-day accent-gray">
          <i class="fas fa-arrow-down"></i>
          <p>5</p>
        </div>
        <p>1.250</p>
      </div>
    </div>
  </div>
</div>
