<div class="info-table">
  <p class="title-badge accent-yellow accent-yellow-background">Landkreisübersicht</p>

  <div class="info-bar">
    <input type="search" placeholder="Landkreis suchen" class="info-bar__search" [(ngModel)]="searchTerm" (ngModelChange)="onSearchTermChange()" />
  </div>

  <div class="grid">
    <div class="row">
      <div class="cell heading" (click)="sort('State')">
        <p>Landkreis</p>
        <i *ngIf="ascSortingState !== null" class="fas fa-sort-alpha-{{ ascSortingState ? 'down' : 'up' }}"></i>
      </div>
      <div class="cell heading" (click)="sort('TotalCases')">
        <p>Bestätigt</p>
        <i *ngIf="ascSortingTotalCases !== null" class="fas fa-sort-numeric-{{ ascSortingTotalCases ? 'down' : 'up' }}"></i>
      </div>
      <div class="cell heading" (click)="sort('ActiveCases')">
        <p>Aktiv</p>
        <i *ngIf="ascSortingActiveCases !== null" class="fas fa-sort-numeric-{{ ascSortingActiveCases ? 'down' : 'up' }}"></i>
      </div>
      <div class="cell heading" (click)="sort('Recovered')">
        <p>Genesen</p>
        <i *ngIf="ascSortingRecovered !== null" class="fas fa-sort-numeric-{{ ascSortingRecovered ? 'down' : 'up' }}"></i>
      </div>
      <div class="cell heading" (click)="sort('Incidence7')">
        <p>Inzidenz</p>
        <i *ngIf="ascSortingIncidence7 !== null" class="fas fa-sort-numeric-{{ ascSortingIncidence7 ? 'down' : 'up' }}"></i>
      </div>
      <div class="cell heading" (click)="sort('Deaths')">
        <p>Verstorben</p>
        <i *ngIf="ascSortingDeaths !== null" class="fas fa-sort-numeric-{{ ascSortingDeaths ? 'down' : 'up' }}"></i>
      </div>
    </div>

    <div *ngFor="let county of this.searchCountys" class="row">
      <div class="cell state">
        <!-- <div class="info-bar__toggle-button" [ngClass]="{'accent-yellow accent-yellow-background': selectedBookmark}" >
          <i class="far fa-bookmark"></i>
        </div> -->
        <p>{{county[1].State }}</p>
      </div>
      <div class="cell">
        <div class="cell__difference-to-previous-day accent-red">
          <i class="fas fa-arrow-down"></i>
          <p>NaN</p>
        </div>
        <p>{{county[1].TotalCases}}</p>
      </div>
      <div class="cell">
        <div class="cell__difference-to-previous-day accent-blue">
          <i class="fas fa-arrow-up"></i>
          <p>NaN</p>
        </div>
        <p>{{county[1].ActiveCases}}</p>
      </div>
      <div class="cell">
        <div class="cell__difference-to-previous-day accent-green">
          <i class="fas fa-arrow-up"></i>
          <p>NaN</p>
        </div>
        <p>{{county[1].Recovered}}</p>
      </div>
      <div class="cell">
        <div class="cell__difference-to-previous-day accent-purple">
          <i class="fas fa-arrow-down"></i>
          <p>NaN</p>
        </div>
        <p>{{county[1].Incidence7.toFixed(2).replace('.', ',')}}</p>
      </div>
      <div class="cell">
        <div class="cell__difference-to-previous-day accent-gray">
          <i class="fas fa-arrow-down"></i>
          <p>NaN</p>
        </div>
        <p>{{county[1].Deaths}}</p>
      </div>
    </div>
  </div>
</div>
