.infections {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding: 40px;
  margin-top: 75px;

  &__left {
    width: 48.5%;
  }

  &__right {
    width: 48.5%;
  }
}

.mobileMargin {
  margin-top: 30px !important;
}

.noNavbar{
  margin-top: 35px !important;
}
