<div class="infections" [ngClass]="{'noNavbar': !this.resize.navBarIsShown, '': this.resize.isMobile}" >
  <div class="infections__left">
    <app-info-badges></app-info-badges>
    <app-info-table [showInfection]="true"></app-info-table>
    <app-chart-overview-infections></app-chart-overview-infections>
  </div>

  <div class="infections__right">
    <app-map></app-map>
  </div>
</div>


<!-- [ngStyle]="{'margin-top': this.resize.navBarIsShown ? '20px' : '50px'}" -->

<!-- [ngClass]="this.resize.navBarIsShown ? '': 'test'" -->
