<div class="area-chart">
  <ngx-charts-area-chart-stacked *ngIf="this.stacked"
                                 [animations]="true"
                                 [legendTitle]="'Legende'"
                                 [legend]="true"
                                 [results]="displayedData"
                                 [scheme]="colorScheme"
                                 [showGridLines]="false"
                                 [xAxis]="true"
                                 [yAxis]="true"
  >
  </ngx-charts-area-chart-stacked>
  <ngx-charts-area-chart *ngIf="!this.stacked"
                         [animations]="true"
                         [legendTitle]="'Legende'"
                         [legend]="true"
                         [results]="displayedData"
                         [scheme]="colorScheme"
                         [showGridLines]="false"
                         [xAxis]="true"
                         [yAxis]="true"
  >
  </ngx-charts-area-chart>
</div>
