<div>
  <button (click)="this.changeType('incidence7')">7 Tage Inzdienz</button>
  <button (click)="this.changeType('activeCases')">Aktive Fälle</button>
  <button (click)="this.changeType('recDeadTotal')">Genese, Gestorbene und gesamte Fälle</button>
  <!-- <button (click)="this.changeType('recovered')">Genese Personen</button> -->
  <!-- <button (click)="this.changeType('deaths')">Gestorbene</button> -->
  <!-- <button (click)="this.changeType('totalCases')">Gesamte Fälle</button> -->
</div>

<div>
  <button (click)="this.daynumber = numb[1]" *ngFor="let numb of this.timeSpan">{{numb[0]}}</button>
</div>


<app-barchart *ngIf="!this.showRecDeadTotal" [daynumber]="this.daynumber" [loaded]="this.loaded"
              [type]="this.type"></app-barchart>

<app-areachart *ngIf="this.showRecDeadTotal" [data]="this.recDeaTotalCases"
               [daynumber]="this.daynumber"></app-areachart>
